*{
    margin: 0;
    padding: 0;
}
body{
    background-color: lightcoral;
}

/* header{
    width: 100vw;
    background-color: black;
    color: white;
    border-radius: 20px;
    position: sticky;
    top: 0;
} */

nav{
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'PT Serif', serif;
}
/* .logoname{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

nav ul{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    padding: 5px;
}

nav ul li img{
    width: 70px;
    height: 70px;
}


.background{
    width: 100vw;
    height: 100vh;
    background: url('guitar-background.jpg') no-repeat fixed;
    background-size: contain;
    border: 2px solid red;
    background-position: center center;
} */

header{
    position: sticky;
    top: 0;
}

nav ul{
    display: flex;
    list-style: none;
    height: 75px;
    background-color: black;
    color: white;
    align-items: center;
}

.brand img{
    width: 70px;
    height: 70px;
    padding: 8px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

nav ul li{
    padding: 0px 12px;
}

.container{
    width: 80%;
    background-color: black;
    margin: 10px auto;
    min-height: 65vh;
    color: white;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('kk2.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

.bottom{
    position: sticky;
    height: 130px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#myProgressBar{
    width: 90vw;
    cursor: pointer;
}

/* .songlist{
    border: 2px solid red;
} */

.icons{
    margin-top: 20px;
    display: flex;
    width: 200px;
    flex-direction: row;
    justify-content: space-around;
    cursor: pointer;
}

.songItem{
    height: 37px;
    display: flex;
    background-color: rgb(236, 206, 168);
    color: black;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-radius: 30px;
    margin: 10px;
}

.songItem img{
    width: 37px;
    margin: 0 20px;
    border-radius: 30px;
}

.timestamp{
    padding-right: 10px;
}
.play{
    padding-right: 10px;
    cursor: pointer;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.songInfo span{
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.songInfo{
    position: absolute; /* with respect to parent */
    left: 0;
    margin: 0 5vw;
}

@media only screen and (max-width: 581px)  {
    .songInfo{
        bottom: 0;
        left: 10vw;
    }
}
